<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cryptovote/Add Party</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="3"/> -->

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

    $(document).ready(function(){

      $.ajax({

              url: 'http://54.208.175.231:5000/chain',
              type: 'get',
              cache:true,

              success: function(data1){
                for(i=1;i<data1.chain.length;i++){
                  document.getElementById('blocks_mined').innerHTML = parseInt(i)
                  for(j=0;j<data1.chain[i].transactions.length-1;j++){

                    var user_gender = data1.chain[i].transactions[j].data['user_gender']
                    gender_count = parseInt(document.getElementById(user_gender).innerHTML)+1
                    document.getElementById(user_gender).innerHTML = gender_count

                  }
                }
              },
    });



        });


        $(document).ready(function(){

          $.ajax({

                  url: 'http://54.208.175.231:5000/chain',
                  type: 'get',
                  cache:true,

                  success: function(data1){
                    for(i=1;i<data1.chain.length;i++){
                      document.getElementById('blocks_mined').innerHTML = parseInt(i)
                      for(j=0;j<data1.chain[i].transactions.length-1;j++){

                      try {
                        var user_age_group = data1.chain[i].transactions[j].data['age_group']
                        console.log(user_age_group)

                        age_group_count = parseInt(document.getElementById(user_age_group).innerHTML)+1
                        document.getElementById(user_age_group).innerHTML = age_group_count
                        document.getElementById('Voters_Turnout').innerHTML = parseInt(document.getElementById('Male').innerHTML) + parseInt(document.getElementById('Female').innerHTML)
                        }
                        catch(err) {
                            console.log('error')
                        }


                      }
                    }
                  },
        });



            });


    </script>


    <script>

    $(document).ready(function(){

      var parties_list = [];
      no_of_users = 0

          $.ajax({
                  url: 'http://54.208.175.231:3000/party/getpartylist',
                  type: 'get',
                  cache:true,

                  success: function(party_list_data){
                    var response = party_list_data.result.data
                    for(i=0;i<response.length;i++){
                      $('#party_list').append('<div class="col-xl-6 col-lg-6"><div class="card"><div class="card-body"><div class="stat-content dib"><div class="stat-text" style="margin-top:25%"><p id="Party2" style="text-align:left !important" class="tetx-dark text-right">'+response[i].registered_name+'</p></div></div><div class="card text-white bg-flat-color-5" height="600px"><div class="card-body pb-0" <h2 class="mb-0 text-center" style="height:70px;"><span class="count" id='+response[i].short_name+'>0</span></h2></div></div></div></div></div>');

                      parties_list.push(response[i].short_name)
                      console.log(parties_list)
                }

                $.ajax({

                        url: 'http://54.208.175.231:5000/chain',
                        type: 'get',
                        cache:true,

                        success: function(data1){
                          setTimeout(function () {
                             dynamicpiechart1(parties_list);
                          }, 2500);

                          for(i=1;i<data1.chain.length;i++){
                            for(j=0;j<data1.chain[i].transactions.length-1;j++){
                              no_of_users += j+1
                              var party_name = data1.chain[i].transactions[j].data['party_short_name']
                              console.log(party_name)
                              party_count = parseInt(document.getElementById(party_name).innerHTML)+1
                              console.log(party_count)
                              document.getElementById(party_name).innerHTML = party_count
                              console.log("----")

                            }
                          }
                        },
              });
                    return true;
              },
          });


        });



        setTimeout(function () {
          drawchart();
        }, 2000);

        setTimeout(function () {
           dynamicpiechart();
        }, 3000);
	
setTimeout(function () {
           dynamicpiechart1();
        }, 2500);






    </script>




    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body onload="digitized();">
        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" ><img src="images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/admin"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>



                    <li  >
                        <a href="/addparty"   > <i class="menu-icon fa fa-plus-square-o"></i>Add new Party</a>

                    </li >
					               <li>
                        <a href="/verifyuser"   > <i class="ti-view-list menu-icon "></i>Verify User Details</a>

                    </li>
            <li ><a href="/dashboard"><i class="menu-icon fa fa-line-chart"></i> Voting Stats</a></li>

            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

   <h1>
   <div style="margin-left:80%; postion:absolute width:10%" >

   <p>  Date/Time: <span id="datetime"></span></p>

   </div>
   Live Voting Stats
   </h1>

   </header>

   		<div class="col-xl-3 col-lg-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-mobile text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">No of Blocks Mined</div>
                                <div id="blocks_mined"class="stat-digit">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<div class="col-xl-3 col-lg-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa-male fa text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Male Voters</div>
                                <div id="Male"class="stat-digit">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<div class="col-xl-3 col-lg-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="fa fa-female  text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Female voters</div>
                                <div id="Female"class="stat-digit">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<div class="col-xl-3 col-lg-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-stats-up text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Voters Turnout</div>
                                <div id="Voters_Turnout"class="stat-digit">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-success"></span><b>Today's Voting Analysis</b>

                </div>
            </div>

<div class="col-xl-3 col-lg-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-tag text-primary border-primary "></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">18-24</div>
                                <div id="Age_group1" class="stat-digit">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xl-3 col-lg-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-tag text-primary border-primary "></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">24-42</div>
                                <div id="Age_group2"class="stat-digit">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xl-3 col-lg-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-tag text-primary border-primary "></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">42-60</div>
                                <div id="Age_group3"class="stat-digit">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xl-3 col-lg-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-tag text-primary border-primary "></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Above 60</div>
                                <div id="Age_group4"class="stat-digit">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-success"></span><b>Party Vote Count</b>

                </div>
            </div>

            <div id='party_list' class="col-xl-12 col-lg-9 p-4">

      			</div>


            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-success"></span><b>Voting Analysis</b>

                </div>
            </div>

			<div class="col-xl-6 col-lg-6 p-4">
			<div class="card" >
			<div class="card-body">
				<h4 class="card-title">Voting Results</h4>
				<p class="card-text">Age wise voting</p>
				<canvas id="ageChart"></canvas>
				</div>

			</div>
			</div>


			<div class="col-xl-6 col-lg-6 p-4">
  <div class="card" >
    <div class="card-body">
      <h4 class="card-title">Voting Results</h4>
      <p class="card-text">Today's Voting Results</p>
    <canvas id="pieChart"></canvas>
    </div>

  </div>
</div>

<div class="col-xl-12 col-lg-6 p-4">
<div class="card" >
  <div class="card-body">
    <h4 class="card-title"> <i class="fab fa-stripe-s"></i> Voting Result</h4>
    <p class="card-text">Party Wise Votes</p>

  <canvas id="partyChart"></canvas>
  </div>

</div>
</div>

<div class="col-sm-12">
    <div class="alert  alert-success alert-dismissible fade show" role="alert">
      <span class="badge badge-pill badge-success"></span><b>Previous Trends In Voting</b>

    </div>
</div>

	<div class="col-xl-6 col-lg-6 p-4">
  <div class="card" >
    <div class="card-body">
      <h4 class="card-title"> <i class="fab fa-stripe-s"></i> Comparison</h4>
      <p class="card-text">Last few elections voter Turnout stats</p>

    <canvas id="barChart"></canvas>
    </div>

  </div>
</div>





<div class="col-xl-6 col-lg-6 p-4">
  <div class="card" >
    <div class="card-body">
      <h4 class="card-title">Comparison</h4>
      <p class="card-text">Male & Female poll percentage since 1996</p>
    <canvas id="lineChart"></canvas>
    </div>

  </div>
</div>



</div>

</div>
  </div>  <!-- Right Panel -->

<script>


    // OUR FUNCTION WHICH IS EXECUTED ON LOAD OF THE PAGE.
    function digitized() {
        var dt = new Date();    // DATE() CONSTRUCTOR FOR CURRENT SYSTEM DATE AND TIME.
        var hrs = dt.getHours();
        var min = dt.getMinutes();
        var sec = dt.getSeconds();

        min = Ticking(min);
        sec = Ticking(sec);

        document.getElementById('datetime').innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear())+" / "+hrs + ":" + min+":"+sec;




        // CALL THE FUNCTION EVERY 1 SECOND (RECURSION).
        var time
        time = setInterval('digitized()', 1000);
    }
   function Ticking(ticVal) {
        if (ticVal < 10) {
            ticVal = "0" + ticVal;
        }
        return ticVal;
    }

</script>

    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>

<script>
function drawchart()
{
	var a=90;
	  //bar chart
    var ctx = document.getElementById( "barChart" );
    //    ctx.height = 200;
    var myChart = new Chart( ctx, {
        type: 'bar',
        data: {
            labels: [ "1996", "1998", "1999", "2004", "2009", "2014", "2017" ],
            datasets: [
                {
                    label: "Total voting percentage per year",
                    data: [ 57.94, 61.97, 59.99, 58.07, 58.17, 66.40, 68.04],
                    borderColor: "rgba(0, 123, 255, 0.9)",
                    borderWidth: "0",
                    backgroundColor: "rgba(0, 123, 255, 0.5)"
                            },

                        ]
        },
        options: {
            scales: {
				xAxes: [{
                ticks: {
                        beginAtZero: true
                    },
						scaleLabel: {
						display: true,
						labelString: 'Years'
									}
            }],

                 yAxes: [{ticks: {
                        beginAtZero: true
                    },
						scaleLabel: {
						display: true,
						labelString: 'Percent  of  Votes'
									}
						}]

            }
        }
    } );

	//------------------------------------//

	//line chart
    var ctz = document.getElementById( "lineChart" );
    ctz.height = 150;
    var myChart = new Chart( ctz, {
        type: 'line',
        data: {
            labels: [ "1996", "1998", "1999", "2004", "2009", "2014" ,"2017"],
            datasets: [
                {
                    label: "Male Voters",
                    borderColor: "rgba(0,0,0,.09)",
                    borderWidth: "1",
                    backgroundColor: "rgba(0,0,0,.07)",
                    data: [ 62.06, 65.86, 63.96, 61.98, 60.82, 67.09,71.02]
                            },
                {
                    label: "Female Voters",
                    borderColor: "rgba(0, 123, 255, 0.9)",
                    borderWidth: "1",
                    backgroundColor: "rgba(0, 123, 255, 0.5)",
                    pointHighlightStroke: "rgba(26,179,148,1)",
                    data: [ 53.41, 57.69, 55.63, 53.63, 55.82, 65.63 ,75.64]
                            }
                        ]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
			 scales: {
				xAxes: [{
                ticks: {
                        beginAtZero: true
                    },
						scaleLabel: {
						display: true,
						labelString: 'Years'
									}
            }],

                 yAxes: [{ticks: {
                        beginAtZero: true
                    },
						scaleLabel: {
						display: true,
						labelString: 'Percent  of  Votes'
									}
						}]

            }

        }
    } );









}
  //>>-----------------------------<<\\
 //>>-------------------------------<<\\
//>>---------------------------------<<\\

var values_1=[]; //store json data in this array and pass it to data in pieChart
var partyname_1=["Male","Female"];
var i;
function dynamicpiechart()
{
  values_1[0] =document.getElementById('Male').innerHTML
  values_1[1] = document.getElementById('Female').innerHTML

	//PERCENT OF AREA=(100*VOTES IN FAVOR)/TOTAL VOTES;


	 var ctv = document.getElementById( "pieChart" );
    ctv.height = 150;
    var myChart = new Chart( ctv, {
        type: 'pie',
        data: {
            datasets: [ {
                data: values_1,
                backgroundColor: [
                                    "rgba(0, 123, 255,0.9)",
                                     "rgba(238, 93, 32, 0.8)",
                                    "rgba(255, 0, 0,0.8)",
                                    "rgba(56, 135, 86, 0.8)"
                                ],

                            } ],
            labels: [
               partyname_1[0],
						   partyname_1[1],

                        ]
        },
        options: {
            responsive: true
        }
    } );





    var ctage = document.getElementById( "ageChart" );
    //    ctx.height = 200;
    var myChart = new Chart( ctage, {
        type: 'bar',
        data: {
            labels: [ "18-24", "24-42", "42-60", "60 & above" ],
            datasets: [
                {
                    label: "Age group wise vote share",
                    data: [ document.getElementById('Age_group1').innerHTML,document.getElementById('Age_group2').innerHTML,document.getElementById('Age_group3').innerHTML,document.getElementById('Age_group4').innerHTML],
                    borderColor: "rgba(254, 102, 17, 0.8)",
                    borderWidth: "5",
                    backgroundColor: "rgba(254, 102, 17, 0.6)"
                            },

                        ]
        },
        options: {
            scales: {
				xAxes: [{
                ticks: {
                        beginAtZero: true
                    },
						scaleLabel: {
						display: true,
						labelString: 'Age(Years)'
									}
            }],

                 yAxes: [{ticks: {
                        beginAtZero: true
                    },
						scaleLabel: {
						display: true,
						labelString: 'Number of  Votes'
									}
						}]

            }
        }
    } );



    var ctage = document.getElementById( "genderChart" );
    //    ctx.height = 200;
    var myChart = new Chart( ctage, {
        type: 'bar',
        data: {
            labels: [ "18-24", "24-42", "42-60", "60 & above" ],
            datasets: [
                {
                    label: "Age group wise vote share",
                    data: [ 46,15,19,20],
                    borderColor: "rgba(254, 102, 17, 0.8)",
                    borderWidth: "0",
                    backgroundColor: "rgba(254, 102, 17, 0.6)"
                            },

                        ]
        },
        options: {
            scales: {
				xAxes: [{
                ticks: {
                        beginAtZero: true
                    },
						scaleLabel: {
						display: true,
						labelString: 'Age(Years)'
									}
            }],

                 yAxes: [{ticks: {
                        beginAtZero: true
                    },
						scaleLabel: {
						display: true,
						labelString: 'Number of  Votes'
									}
						}]

            }
        }
    } );





	}


</script>



<script>

var values=[]; //store json data in this array and pass it to data in pieChart

var i;
function dynamicpiechart1(party_list)
{

  partyname = party_list

  for(i=0;i<partyname.length;i++){
  values[i] =parseInt(document.getElementById(partyname[i]).innerHTML)
}
  //PERCENT OF AREA=(100*VOTES IN FAVOR)/TOTAL VOTES;


   var ctv = document.getElementById( "partyChart" );
    ctv.height = 150;
    var myChart = new Chart( ctv, {
        type: 'pie',
        data: {
            datasets: [ {
                data: values,
                backgroundColor: [
                                    "rgba(0, 123, 255,0.9)",
                                     "rgba(238, 93, 32, 0.8)",
                                    "rgba(255, 0, 0,0.8)",
                                    "rgba(56, 135, 86, 0.8)"
                                ],

                            } ],
            labels: [
               partyname[0],
               partyname[1],
               partyname[2],
               partyname[3],
               partyname[4],

                        ]
        },
        options: {
            responsive: true
        }
    } );



}

</script>




</body>
</html>
