<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>One DIV Page Loader</title>



      <link rel="stylesheet" href="splash/css/style.css">


</head>

<body>

  <div class="page-container">

  <div class="page-loader"></div>




</div>



</body>
<script type="text/javascript">
function Redirect()
{
window.location="/login";
}
document.write("You will be redirected to a new page in 5 seconds");
setTimeout('Redirect()', 1500);
</script>
</html>
