<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>One DIV Page Loader</title>



      <link rel="stylesheet" href="splash/css/style.css">


</head>

<body>

  <div class="page-container">

  <div class="page-loader"></div>




</div>



</body>

</html>
